* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  width: 100vw;
}

/* styling the header */

header {
  background: #7b7a68;
}

nav,
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

li {
  list-style: none;
  margin: 10px;
  font-size: 18px;
  font-family: "work sans" "sans-serif";
}

nav h2 {
  color: #fff;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

a:hover {
  color: black;
}

/* header styling complete */

.heroContent {
  height: 500px;
  background: #7b7a68;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.firstHeroContainer {
  margin-left: 200px;
}
span {
  color: white;
  padding-bottom: 10px;
}

.firstHeroContainer h2 {
  color: white;
  font-size: 64px;
  padding-bottom: 20px;
}

.firstHeroContainer p {
  color: #fff;
  font-size: 18px;
}

.detailsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 240px;
  gap: 50px;
}

.aboutMe {
  max-width: 500px;
}

.aboutMeHeading {
  font-size: 32px;
  font-weight: bold;
}

.aboutMe p {
  font-size: 28px;
  padding-top: 10px;
  line-height: 1.5;
}
/* styling for main complete */

footer {
  background: #7b7a68;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 50px 0;
}

footer button {
  background: #fff;
  height: 100px;
  width: 200px;
  border: none;
  border-radius: 50px;
}
button a {
  color: #000;
  font-size: 24px;
}

/* styling the contact page */

.formBox {
  margin-top: 50px;
}

form {
  text-align: center;
  width: 50vw;
  margin-left: 25vw;
}

input {
  width: 600px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #7b7a68;
  padding-left: 20px;
  margin-bottom: 20px;
}

:placeholder-shown {
  padding-left: 20px;
}

form h3 {
  text-align: left;
}

textarea {
  border-radius: 50px;
  width: 600px;
  padding: 20px;
}

.contactHeading {
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
}

.formBtn {
  background: #7b7a68;
  color: #fff;
  width: 600px;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.formBox {
  padding-bottom: 50px;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #7b7a68;
  width: 600px;
  height: 50px;
  margin-left: 80px;
  border-radius: 20px;
}
label {
  user-select: none;
}
input[type="radio"] {
  display: none;
  align-content: center;
}

input[type="radio"] + label {
  z-index: 10;
  margin: 0 10px 10px 0;
  position: relative;
  color: #ced4da;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #7b7a68;
  cursor: pointer;
  transition: all 200ms ease;
}

input[type="radio"]:checked + label {
  color: #000;
  background-color: #7b7a68;
}

input[type="radio"] + label {
  padding: 5px 20px;
  border-radius: 10px;
}

.selectCountryContain {
  border: 2px solid #7b7a68;
  height: 50px;
  width: 600px;
  margin-left: 80px;
  border-radius: 20px;
}

# {
  width: 200px;
}
